body {
    background: linear-gradient(
            0deg,
            #4A90E2 33%,
            #93C2E2 60%,
            #E0E0D8 90%,
            #E0E0D8 100%
    );
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    background-color: transparent;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 30px;
    left: 0;
    padding: 10px 20px;
    box-sizing: border-box;
}
main{
    margin-top: 100px;
}
header nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#img{
}
#logo-container{
    width: 80px;
    border-radius: 30px;
}
#salir-button{
    background-color: transparent;
    width: 120px;
    height: 45px;
    border: 2px solid black;
    color: black;
    font-size: 23px;
    font-weight: bold;
    border-radius: 22px;
}

#menu{
    margin-left: 100px;
}

header nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li{
    font-size: 30px;
    margin-left: 25px;
}

header nav ul li a{
    text-decoration: none;
    color: #2C3E50;
    font-weight: 500;
}

#container{
    display: flex;
    gap: 20px;
}
#img-container img{
    width: 400px;
    border-radius: 30px;
}
.data-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#data-container{
    
}
#names{
    display: flex;
    gap: 40px;
}
#info-container{
    display: flex;
    gap: 20px;
}

.owner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    background: #ffffffb0;
    padding: 1px 80px;
    border-radius: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 26px;
}
.pet-name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    background: #ffffffb0;
    padding: 1px 30px;
    border-radius: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 26px;
}
.info, .treatments {
    background: #ffffffb0;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 30px;
    text-align: center;
    font-size: 25px;
}
.treatments h3 {
    color: red;
}
.info p, .treatments p {
    margin: 10px 0;
}