<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="/css/tabla/css/mascotas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <div id="img">
            <img id="logo-container" src="/css/tabla/img/logo.jpeg">
        </div>
        <ul id="menu">
            <li><a href="/mascota/all">Lista Mascotas</a></li>
            <li><a href="/cliente/all">Lista de Clientes</a></li>
        </ul>
        <div id="buttons">
            <button id="salir-button">salir</button>
        </div>
    </nav>
</header>
<main>
    <div id="clouds">
        <div id="clouds-up">
            <div class="up">
                <img class="izq-a" src="/css/tabla/img/esquinas-a.png">
                <img class="centr" src="/css/tabla/img/centro-a.png">
                <img class="izq-d" src="/css/tabla/img/esquinas-a.png">
            </div>
            <div class="down">
                <img class="izq-a" src="/css/tabla/img/esquinas-a.png">
                <img class="centr" src="/css/tabla/img/centro-a.png">
                <img class="izq-d" src="/css/tabla/img/esquinas-a.png">
            </div>
        </div>
        <div id="clouds-down">
            <div class="up">
                <img class="izq-a" src="/css/tabla/img/esquinas-a.png">
                <img class="centr" src="/css/tabla/img/centro-a.png">
                <img class="izq-d" src="/css/tabla/img/esquinas-a.png">
            </div>
            <div class="down">
                <img class="izq-a" src="/css/tabla/img/esquinas-a.png">
                <img class="centr" src="/css/tabla/img/centro-a.png">
                <img class="izq-d" src="/css/tabla/img/esquinas-a.png">
            </div>
        </div>
    </div>
    <div class="container">
        <div id="register-container">
            <h1>Perros registrados</h1>
            <button id="button-registrar" onclick="location.href='/cliente/registrar'">Registrar</button>
        </div>
        <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Cedula</th>
                <th>Correo</th>
                <th>Celular</th>
                <th>Accciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cliente : ${clientes}" >
                <td th:text="${cliente.nombre}" ></td>
                <td th:text="${cliente.cedula}" ></td>
                <td th:text="${cliente.correo}" ></td>
                <td th:text="${cliente.celular}" ></td>
                <td>
                    <a id="editar" th:href="@{/cliente/editar/{id}(id=${cliente.id})}">editar</a>
                    <a id="eliminar" th:href="@{/cliente/eliminar/{id}(id=${cliente.id})}">eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>
</body>
</html>