<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hachico vet</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/landing-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <nav>
            <div id="logo-container">
            <img id="logo" src="/img/Logo.jpeg" alt="logo">
            </div>
            <ul id="menu"> <!-- Menu -->
                <li><a href="/cliente/registrar">Registrar</a></li>
                <li><a href="/cliente/login">Iniciar Sesion</a></li>
                <li><a href="/mascota/all">Lista Mascotas</a></li>
                <li><a href="/cliente/all">Lista de Clientes</a></li>
            </ul>
            <button id="book-now">
                <img id="logo-message" src="/img/message-circle.png" alt="message-circle"> <!-- Icono -->
                Escribenos
            </button>
        </nav>
    </header>

    <main>
        <div id="cloud1-content">
            <img  src="/img/cloud1.png" alt="cloud">
        </div>
        <section class="welcomeSection">
            <div id="welcomeContent">
                <h1>Comprometidos con la Salud de Tus Mascotas</h1>
                <ul id="clientStatistics">
                    <li class="clientStatistics">
                        <h4>2.5K</h4>
                        <p>Clientes Satisfechos</p>
                    </li>
                    <li class="clientStatistics">
                        <h4>5K</h4>
                        <p>Promedio de Clientes</p>
                    </li>
                </ul>
            </div>
        </section>
        <div id="food-content">
            <img src="/img/food.png" alt="cloud">
        </div>
        <div id="dog-content">
            <img src="/img/dog.png" alt="cloud">
        </div>
        <section class="whyUsSection">
            <div id="whyUsContent">
                <h2>¿ Por qué Nosotros ?</h2>
                <div id="card-content">
                    <div class="whyUsCard">
                        <img src="/img/trust.png" alt="trust" >
                        <h3>Compromiso y pasion</h3>
                        <p>Nuestro equipo ama a los animales y se dedica a brindar la mejor atención posible.</p>
                    </div>

                    <div class="whyUsCard">
                        <img src="/img/24-7.png" alt="24/7" >
                        <h3>Disponibilidad <br> 24/7</h3>
                        <p>Atención urgente y consultas disponibles cuando más lo necesites.</p>
                    </div>
                </div>
            </div>
        </section>
        <div id="health-content">
            <img src="/img/health.png" alt="cloud">
        </div>
        <div id="cloud2-content">
            <img src="/img/cloud2.png" alt="cloud">
        </div>
        <section class="aboutUsSection">
            <div id="aboutUsCardsContainer">

                <div id="aboutUsCard">
                    <h3>Sobre Nosotros</h3>
                    <p>En nuestra clínica veterinaria, nos dedicamos a proporcionar el mejor cuidado posible para tus mascotas. Creemos firmemente que cada mascota es un miembro valioso de tu familia y merece ser tratada con el máximo respeto y cariño.</p>
                </div>
                <div id="ourMissionCard">
                    <h3>Nuestra Mision</h3>
                    <p>Nos dedicamos a mantener y mejorar la salud de tus mascotas mediante la prevención, el diagnóstico y el tratamiento de enfermedades. Creemos en la importancia de la medicina preventiva y trabajamos contigo para asegurar que tu mascota reciba la mejor atención posible en todas las etapas de su vida.</p>
                </div>
            </div>

        </section>
        <section class="ourServicesSection">
            <h2>Nuestros Servicios</h2>
            <div id="container-servicesCard">
                <div class="ourServicesCard">
                    <h3>Hospitalizacion</h3>
                    <img src="/img/Hospitalizacion.jpg" alt="hospitalizacion">
                </div>
                <div class="ourServicesCard">
                    <h3>Tratamientos</h3>
                    <img src="/img/tratamiento.jpg" alt="tratamiento">
                </div>
            </div>
        </section>
        <div id="clouds-container">
            <div id="cloud3-content">
                <img src="/img/cloud3.png" alt="cloud">
            </div>
            <div id="cloud4-content">
                <img src="/img/cloud4.png" alt="cloud">
            </div>
        </div>
        <section class="statisticsSection">
            <h2>Nuestras Estadisticas</h2>
            <div class="statistics">
                <ul>
                    <li id="ochenta">
                        <h3>80%</h3>
                        <p>Solicitudes y recomendaciones</p>
                    </li>
                    <li id="noventa">
                        <h3>95%</h3>
                        <p>Valoración positiva</p>
                    </li>
                    <li id="veinte">
                        <h3>25K</h3>
                        <p>Seguidores Activos</p>
                    </li>
                </ul>
            </div>
        </section>

        <section class="testimonialsSection">
            <h2>Testimonios</h2>
            <div class="testimonialsContainer">
                <div class="testimonialCard">
                    <div class="testimonialCardContent">
                        <h4>Damian Smith</h4>
                        <p class="petName">Max</p>
                        <p>Excelente servicio y atención. Mi mascota siempre recibe el mejor cuidado posible.</p>
                    </div>
                    <img src="/img/man1.jpg" alt="testimonialMan1">
                </div>
                <div class="testimonialCard">
                    <div class="testimonialCardContent">
                        <h4>Jane Doe</h4>
                        <p class="petName">Luna</p>
                        <p>El equipo de Hachico Vet es increíble. Siempre están dispuestos a ayudar y brindar la mejor atención posible.</p>
                    </div>
                    <img src="/img/woman1.jpg" alt="testimonialWoman1">
                </div>
                <div class="testimonialCard">
                    <div class="testimonialCardContent">
                        <h4>Jonh Doe</h4>
                        <p class="petName">Rocky</p>
                        <p>Recomendaría Hachico Vet a cualquiera que busque un veterinario de confianza para sus mascotas.</p>
                    </div>
                    <img src="/img/man2.jpg" alt="testimonialMan2">
                </div>
                <div class="testimonialCard">
                    <div class="testimonialCardContent">
                        <h4>Jane Smith</h4>
                        <p class="petName">Bella</p>
                        <p>El equipo de Hachico Vet es increíble. Siempre están dispuestos a ayudar y brindar la mejor atención posible.</p>
                    </div>
                    <img src="/img/woman2.jpg" alt="testimonialWoman2">
                </div>
            </div>
        </section>
    </main>
    
    <footer>
        <h2>Contactanos</h2>
        <button class="">Contact Us
        </button>
        <ul>
            <li><a class="facebook" href="#">Facebook</a> <a href="#">Sign Up</a> <a href="#">Log In</a></li>
            <li><a class="twitter" href="#">Twitter (x)</a> <a href="#">Privacy Policy</a> <a href="#">Legal Notice</a> </li>
            <li><a class="instagram" href="#">Instagram</a> <a href="#">services</a> <a href="#">Products</a></li>  
        </ul>
    </footer>
</body>
</html>