<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cliente</title>
    <link  rel="stylesheet" href="/css/login/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <div id="img">
            <img id="logo-container" src="/css/Form/img/logo.jpeg">
        </div>
        <ul id="menu">
            <li><a href="/cliente/registrar">Registrar</a></li>
        </ul>
        <div id="buttons">
            <button id="salir-button" onclick="location.href='/'">salir</button>
        </div>
    </nav>
</header>
<main>
    <div id="clouds">
        <img id="centro1" src="/css/Form/img/centro1.png">
        <img id="centro2" src="/css/Form/img/centro2.png">
    </div>
    <div id="logins">
    <div class="forms">
        <h1 class="registrar">Usuario</h1>
        <form th:object="${cliente}" th:action="@{/cliente/login}" method="post">
            <div>
                <input th:field="*{cedula}" type="text" id="cedula" name="cedula" placeholder="Cédula">
            </div>
            <div class="button-registrar">
                <button class="button-registrar2" type="submit">Ingresar</button>
            </div>

        </form>
    </div>
    <div class="forms">
        <h1 class="registrar">Veterinario</h1>
        <div>
            <div>
                <input type="text" id="cedula-v" name="cedula" placeholder="Cédula">
            </div>
            <div>
                <input type="password" id="password" name="password" placeholder="Contraseña">
            </div>
            <div class="button-registrar">
                <button class="button-registrar2" onclick="window.location.href='/mascota/all'">Ingresar</button>
            </div>
        </div>
    </div>
    </div>
</main>
</body>
</html>