<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas</title>
    <link rel="stylesheet" href="/css/tabla/css/mascotas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
<main>
    <div id="clouds">
        <div id="clouds-up">
            <div class="up">
                <img class="izq-a" src="/css/tabla/img/esquinas-a.png">
                <img class="centr" src="/css/tabla/img/centro-a.png">
                <img class="izq-d" src="/css/tabla/img/esquinas-a.png">
            </div>
            <div class="down">
                <img class="izq-a" src="/css/tabla/img/esquinas-a.png">
                <img class="centr" src="/css/tabla/img/centro-a.png">
                <img class="izq-d" src="/css/tabla/img/esquinas-a.png">
            </div>
        </div>
        <div id="clouds-down">
            <div class="up">
                <img class="izq-a" src="/css/tabla/img/esquinas-a.png">
                <img class="centr" src="/css/tabla/img/centro-a.png">
                <img class="izq-d" src="/css/tabla/img/esquinas-a.png">
            </div>
            <div class="down">
                <img class="izq-a" src="/css/tabla/img/esquinas-a.png">
                <img class="centr" src="/css/tabla/img/centro-a.png">
                <img class="izq-d" src="/css/tabla/img/esquinas-a.png">
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Perros registrados</h1>
        <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Raza</th>
                <th>Activo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mascota : ${mascotas}" th:onclick="'window.location.href=\'/mascota/find/' + ${mascota.id} + '\''">
                <td th:text="${mascota.nombre}"></td>
                <td th:text="${mascota.raza}"></td>
                <td th:text="${mascota.estado == 0 ? 'Inactivo' : 'Activo'}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</main>
</body>
</html>