<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas</title>
    <link rel="stylesheet" href="/css/tabla/css/mascotas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <div id="img">
            <img id="logo-container" src="/css/tabla/img/logo.jpeg">
        </div>
        <ul id="menu">
            <li><a href="/">Dasboard</a></li>
            <li><a href="/cliente/login">Login</a></li>
        </ul>
        <div id="buttons">
            <button id="salir-button" onclick="location.href='/'">salir</button>
        </div>
    </nav>
</header>
<main>
    <div id="clouds">
        <div id="clouds-up">
            <div class="up">
                <img class="izq-a" src="/css/tabla/img/esquinas-a.png">
                <img class="centr" src="/css/tabla/img/centro-a.png">
                <img class="izq-d" src="/css/tabla/img/esquinas-a.png">
            </div>
            <div class="down">
                <img class="izq-a" src="/css/tabla/img/esquinas-a.png">
                <img class="centr" src="/css/tabla/img/centro-a.png">
                <img class="izq-d" src="/css/tabla/img/esquinas-a.png">
            </div>
        </div>
        <div id="clouds-down">
            <div class="up">
                <img class="izq-a" src="/css/tabla/img/esquinas-a.png">
                <img class="centr" src="/css/tabla/img/centro-a.png">
                <img class="izq-d" src="/css/tabla/img/esquinas-a.png">
            </div>
            <div class="down">
                <img class="izq-a" src="/css/tabla/img/esquinas-a.png">
                <img class="centr" src="/css/tabla/img/centro-a.png">
                <img class="izq-d" src="/css/tabla/img/esquinas-a.png">
            </div>
        </div>
    </div>
    <div class="container">
        <div id="register-container">
            <h1>Tus mascotas <span th:text="${cliente.nombre}"></span> </h1>
            <button id="button-registrar" onclick="location.href='/mascota/registrar'">Registrar</button>
        </div>
        <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Raza</th>
                <th>Imagen</th>
                <th>Estado</th>
                <th>Accciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mascota : ${mascotas}" >
                <td th:text="${mascota.nombre}" th:onclick="'window.location.href=\'/mascota/find/' + ${mascota.id} + '\''"></td>
                <td th:text="${mascota.raza}" th:onclick="'window.location.href=\'/mascota/find/' + ${mascota.id} + '\''"></td>
                <td th:onclick="'window.location.href=\'/mascota/find/' + ${mascota.id} + '\''"> <img id="imagen-dog" th:src="@{/css/tabla/img/{imagen}(imagen=${mascota.getImagen()})} "></td>
                <td th:onclick="'window.location.href=\'/mascota/find/' + ${mascota.id} + '\''" th:text="${mascota.estado == 0 ? 'Inactivo' : 'Activo'}"></td>
                <td>
                    <a id="editar" th:href="@{/mascota/editar/{id}(id=${mascota.id})}">editar</a>
                    <a id="eliminar" th:href="@{/mascota/eliminar/{id}(id=${mascota.id})}">eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>
</body>
</html>