<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <header>
        <nav>
            <div id="logo-container">
            <img id="logo" src="/img/Logo.jpeg" alt="logo"> 
            <h2>HACHIKO-VET</h2>
            </div>
            <ul id="menu"> <!-- Menu -->
                <li><a href="#welcomeContent">Home</a></li>
                <li><a href="#aboutUsCardsContainer">Nosotros</a></li>
                <li><a href="#clouds-container">Servicios</a></li>
            </ul>
            <button id="book-now">
                <img id="logo-message" src="/img/message-circle.png" alt="message-circle"> <!-- Icono -->
                Escribenos
            </button>
        </nav>
    </header>

    <main>

        <section class="error-section">

            <h1>La mascota que busca n o existe</h1>
            <h2 th:text="'Id = ' + ${id}"></h2>

            <div class="dog-content">
                <img src="/img/dog.png" alt="dog">
            </div>
        </section>
        
    </main>

</body>
</html>