<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/error/pagina_error.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

<header>
    <nav>
        <div id="img">
            <img id="logo-container" src="/css/Form/img/logo.jpeg">
        </div>
        <ul id="menu">
            <li><a href="/">Dashboard</a></li>
        </ul>
        <div id="buttons">
            <button id="salir-button" onclick="location.href='/'">salir</button>
        </div>
    </nav>
</header>

<main>
    <div id="attention">
        <img id="atention2" src="/css/error/img/Atention2.png">
        <img id="atention3" src="/css/error/img/Atention3.png">
        <img id="atention4" src="/css/error/img/Atention4.png">
        <img id="atention5" src="/css/error/img/Atention5.png">
    </div>
    <section class="error-section">
        <h1 id="title">La mascota no existe</h1>
    </section>

</main>

</body>
</html>